html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  text-decoration: none; }

input, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

html {
  font-size: 12px; }

body {
  font-family: 'Open Sans';
  line-height: 1.2; }

h1, h2, h3, h4 {
  font-family: 'Open Sans';
  font-weight: 700;
  color: whitesmoke; }

h1 {
  font-size: 2.2em;
  font-weight: 300; }

h1 span {
  font-weight: 700;
  color: whitesmoke; }

a {
  color: whitesmoke; }

.square {
  font-family: 'Architects Daughter', cursive;
  font-size: 100px; }

body {
  background: whitesmoke; }

header {
  width: 100%;
  position: fixed;
  display: table;
  top: 0;
  z-index: 2;
  background-color: black;
  text-align: center; }

nav {
  padding: 8px;
  display: table-cell;
  vertical-align: middle;
  z-index: 100; }

.logo {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }

main {
  height: 100vh;
  width: 100vw;
  display: table; }

#game-area {
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 20px; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.square {
  width: 160px;
  height: 160px;
  cursor: pointer;
  cursor: hand;
  text-align: center;
  padding-top: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .square:hover {
    background: #e8e8e8; }
  .square:active {
    background: #dbdbdb; }

.top-border {
  border-top: 2px solid #262626; }

.right-border {
  border-right: 2px solid #262626; }

button {
  border: none;
  background: none;
  color: #262626;
  margin: 80px 0 20px 0;
  font-size: 1.4rem;
  padding: 12px 14px;
  border-radius: 1px;
  border: 1px solid #262626;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  button:hover {
    background: #e6e6e6; }
  button:active {
    background: #e6e6e6;
    -webkit-transform: scale(0.96);
            transform: scale(0.96); }

footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  display: table;
  text-align: center;
  position: fixed;
  background: black; }

.built {
  color: white;
  display: table-cell;
  vertical-align: middle; }

footer p {
  font-size: 1em; }

.built a, strong {
  font-weight: 300; }
  .built a:hover, strong:hover {
    text-decoration: underline; }

.fa-heart {
  font-size: 12px;
  color: #fc2d23; }

.fa-free-code-camp {
  padding: 0 5px 0 0;
  color: white; }

/*=======================================
=              MEDIA QUERIES           =
=======================================*/
/* -- BREAK 1 -- */
@media all and (max-width: 580px) {
  .square {
    width: 110px;
    height: 110px;
    font-size: 80px;
    padding-top: 10px; }
  h1 {
    font-size: 1.8em; }
  button {
    margin: 40px 0 20px 0; } }

/* -- BREAK 2 -- */
@media all and (max-width: 400px) {
  .square {
    width: 90px;
    height: 90px;
    padding-top: 0; } }
